/*
COLORS:
text: #DDE392
highlighted anchor: #C6D191
anchor: #AFBE8F
borders: #7D8570
header/footer/div backgrounds: #646F58
main background: #504B3A

FONTS:
Title: font-family:'Major Mono Display', monospace;
Headers and Labels: font-family: 'Cinzel', serif;
Main Text: font-family: 'League Spartan', sans-serif;

BREAKPOINTS:
1335px: need to adjust vitals moniters so that they don't overflow input section
1232px: header font needs to reduce in size
1100px: stat detail area has to get taller
1080px: input section needs to reformat so that button doesn't slide off the designated area
915px: vitals moniter cards need to drop down in size
700px: change the layout of the #stat-display-panel Name on top row, class and alignment on second
770px: increase height of #stat-display-panel again. adjust input section
610px: increase height of #stat-display-panel section
560px: reduce font size of h4 elements
490px: decrease margin of buttons reduce font sizes
350px: margins on player buttons
*/

/* ---- UNIVERSAL ----*/
* {
    margin: 0;

    font-family: 'League Spartan', sans-serif;
    font-size: 16px;
}

body {
    background-color: #504B3A;
    color: #DDE392;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h2, h3, h4, h5, h6 {
    font-family: 'Cinzel', serif;
}

p {
    margin: 0.25rem;
    padding: 0.25rem;
}

h1 {
    font-family: 'Major Mono Display', monospace;
    font-size: 4rem;;
}

@media only screen and (max-width: 1232px) {
    h1 {
        font-size: 2rem;
    }
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.8rem;
    white-space: nowrap;
}

h4 {
    font-size: 1.25rem;
}

@media only screen and (max-width: 1080px) {
    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.25rem;
    }

    h4 {
        font-size: 1.1rem;
    }

    p {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 560px) {
    h2 {
        font-size: 1.25rem;
    }

    h3 {
        font-size: 1.1rem;
    }

    h4 {
        font-size: 0.9rem;
    }

    p {
        font-size: 0.75rem;
    }
}

@media only screen and (max-width: 490px) {
    h2 {
        font-size: 1.1rem;
    }

    h3 {
        font-size: 0.9rem;
    }

    h4 {
        font-size: 0.75rem;
    }

    p {
        font-size: 0.5rem;
    }
}

/* ---- HEADER ---- */
header {
    width: 100%;
    height: 5rem;

    background-color: #646F58;
    border-bottom: 4px solid #7D8570;
}

/* ---- INTERFACE SECTION ---- */
main {
    margin: 5rem 2.5% 5rem 2.5%;
    width: 87.5%;
}
/* LOG BOX STYLING */

div#log-box {
    width: 100%;
    height: 10rem;
    overflow-y: scroll;

    border: 4px #7D8570 solid;
}

div#log-box p {
    margin: 0.25rem;
    padding: 0.25rem;
}

/* INTERFACE PANEL STYLING */

section#interface-section {
    margin: 2rem 0;
    width: 100%;
    height: 25rem;
    border: 4px solid #7d8570;
  
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 0.5rem;
  }
  
  div#player-vitals {
    width: 100%;
    grid-column: 1 / span 5;
    grid-row: 1 / span 3;

    border-bottom: 4px solid #7d8570;
    border-right: 4px solid #7d8570;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 0.25rem;
    justify-self: center;
    align-items: center;
  }

  div#vitals-player-name {
    grid-column: 1 /span 2;
    grid-row: 1;

    justify-self: center;
    align-items: center;
  }

  div#vitals-player-vit {
    grid-column: 1;
    grid-row: 2;

    justify-self: center;
    align-items: center;
  }

  div#vitals-player-arm {
    grid-column: 2;
    grid-row: 2;

    justify-self: center;
    align-items: center;
  }

  div#vitals-player-agi {
    grid-column: 1;
    grid-row: 3;

    justify-self: center;
    align-items: center;
  }

  div#vitals-player-foc {
    grid-column: 2;
    grid-row: 3;

    justify-self: center;
    align-items: center;
  }
  
  div#enemy-vitals {
    width: 100%;
    grid-column: 6 / span 5;
    grid-row: 1 / span 3;

    border-bottom: 4px solid #7d8570;
    border-left: 4px solid #7d8570;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 0.25rem;
    justify-self: center;
    align-items: center;
  }

  div#vitals-enemy-name {
    grid-column: 1 /span 2;
    grid-row: 1;

    justify-self: center;
    align-items: center;
  }

  div#vitals-enemy-vit {
    grid-column: 1;
    grid-row: 2;

    justify-self: center;
    align-items: center;
  }

  div#vitals-enemy-arm {
    grid-column: 2;
    grid-row: 2;

    justify-self: center;
    align-items: center;
  }

  div#vitals-enemy-agi {
    grid-column: 1;
    grid-row: 3;

    justify-self: center;
    align-items: center;
  }

  div#vitals-enemy-foc {
    grid-column: 2;
    grid-row: 3;

    justify-self: center;
    align-items: center;
  }

  div#player-actions-panel {
    grid-column: 1 / span 10;
    grid-row: 4;
    display: grid;
  }

  div#player-actions-panel.hidden {
    display: none;
  }

  /* STYLING FOR BUTTONS WITHIN INTERFACE SECTION */
  
  button {
    margin: 0.5rem;
    padding: 0.25rem;
    border: 3px solid #7d8570;
    border-radius: 8px;
    color: #dde392;
    background-color: #646f58;
  }
  
  button:hover {
    cursor: pointer;
    color: #7d8570;
    background-color: #dde392;
  }
  
  button:active {
    color: #646f58;
    background-color: #504b3a;
  }

  button#begin-button {
    grid-column: 5 / 7;
    grid-row: 4;
    justify-self: center;
    align-self: center;
    height: 100%;
    width: 100%;
  }

  button#basic-attack {
    grid-column: 1 /span 2;
    grid-row: 4;
  }

  button#defend {
    grid-column: 3 /span 2;
    grid-row: 4;
  }

  button#ability-one {
    grid-column: 5 /span 2;
    grid-row: 4;
  }

  button#ability-two {
    grid-column: 7 /span 2;
    grid-row: 4;
  }

  button#ability-three {
    grid-column: 9 /span 2;
    grid-row: 4;
  }

  @media only screen and (max-width: 490px) {
    button {
        margin: 0.25rem;
        padding: 0.1rem;
        border: 2px solid #7d8570;
        border-radius: 4px;
    }

    button#begin-button {
        grid-column: 4 / 8;
        grid-row: 4;
        justify-self: center;
        align-self: center;
        height: 100%;
        width: 100%;
      }
  }

  @media only screen and (max-width: 350px) {
    button {
        margin: 0;
        padding: 0.1rem;
        border: 2px solid #7d8570;
        border-radius: 4px;
    }

    button#begin-button {
        grid-column: 3 / 9;
        grid-row: 4;
        justify-self: center;
        align-self: center;
        height: 100%;
        width: 100%;
      }
  }

/* ---- PLAYER AND ENEMY STAT DISPLAYS ---- */

div#stat-display-panel {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/* ---- PLAYER SECTION ---- */

section#player-info {
    width: 50%;
    height: 30rem;
    margin: 0.5rem;
    display: grid;
    grid-template-columns: repeat(8, 12.5%);
    grid-template-rows: repeat(8, 12.5%);

    border: 4px solid #7D8570;
}

@media only screen and (max-width: 1340px) {
    section#player-info {
        height: 40rem;
    }
}

@media only screen and (max-width: 1100px) {
    section#player-info {
        height: 45rem;
    }
}

@media only screen and (max-width: 770px) {
    section#player-info {
        height: 50rem;
    }
}

@media only screen and (max-width: 610px) {
    section#player-info {
        height: 90rem;
    }
}

p#player-placeholder-text {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 6;
}

div#player-name-card {
    grid-column-start: 1;
    grid-column-end: span 8;
    grid-row-start: 1;
    grid-row-end: span 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 1rem;
}

div#player-info-container {
    grid-column-start: 1;
    grid-column-end: span 8;
    grid-row-start: 2;
    grid-row-end: span 1;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    margin: 1rem;
}

div.player-info-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

div#player-bio-card {
    grid-column-start: 1;
    grid-column-end: span 8;
    grid-row-start: 3;
    grid-row-end: span 2;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;

    margin: 1rem;
}

div#player-stats {
    grid-column-start: 1;
    grid-column-end: span 8;
    grid-row-start: 6;
    grid-row-end: 7;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    margin: 1rem;
}

div.stat-card {
    margin: 0.25rem;
    padding: 0.5rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    border: 1px solid #7D8570;
}

@media only screen and (max-width: 1340) {
    div.stat-card {
        margin: 0.2rem;
        padding: 0.4rem;
    }
}

/* ---- ENEMY SECTION ---- */

section#enemy-info {
    width: 50%;
    height: 30rem;
    margin: 0.5rem;

    display: grid;
    grid-template-columns: repeat(8, 12.5%);
    grid-template-rows: repeat(8, 12.5%);

    border: 4px solid #7D8570;
}

@media only screen and (max-width: 1340px) {
    section#enemy-info {
        height: 40rem;
    }
} 

@media only screen and (max-width: 1100px) {
    section#enemy-info {
        height: 45rem;
    }
}

@media only screen and (max-width: 770px) {
    section#enemy-info {
        height: 50rem;
    }
}

@media only screen and (max-width: 610px) {
    section#enemy-info {
        height: 90rem;
    }
}

p#enemy-placeholder-text {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 6;
}

div#enemy-name-card {
    grid-column-start: 1;
    grid-column-end: span 8;
    grid-row-start: 1;
    grid-row-end: span 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 1rem;
}

div#enemy-info-container {
    grid-column-start: 1;
    grid-column-end: span 8;
    grid-row-start: 2;
    grid-row-end: span 1;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    margin: 1rem;
}

div.enemy-info-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

div#enemy-stats {
    grid-column-start: 1;
    grid-column-end: span 8;
    grid-row-start: 6;
    grid-row-end: 7;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    margin: 1rem;
}

/* ---- FOOTER ---- */
footer {
    width: 100%;
    height: 7.5rem;

    background-color: #646F58;
    border-top: 4px solid #7D8570;
}