/*
COLORS:
text: #DDE392
highlighted anchor: #C6D191
anchor: #AFBE8F
borders: #7D8570
header/footer/div backgrounds: #646F58
main background: #504B3A

FONTS:
Title: font-family:'Major Mono Display', monospace;
Headers and Labels: font-family: 'Cinzel', serif;
Main Text: font-family: 'League Spartan', sans-serif;

BREAKPOINTS:
1232px: header font needs to reduce in size
1080px: input section needs to reformat so that button doesn't slide off the designated area
700px: change the layout of the #output-section Name on top row, class and alignment on second
550px: increase height of #output-section again. adjust input section
*/

/* ---- UNIVERSAL ----*/
* {
    margin: 0;

    font-family: 'League Spartan', sans-serif;
    font-size: 16px;
}

body {
    background-color: #504B3A;
    color: #DDE392;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h2, h3, h4, h5, h6 {
    font-family: 'Cinzel', serif;
}

h1 {
    font-family: 'Major Mono Display', monospace;
    font-size: 4rem;;
}

@media only screen and (max-width: 1232px) {
    h1 {
        font-size: 2rem;
    }
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.8rem;
    white-space: nowrap;

}

@media only screen and (max-width: 1080px) {
    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.25rem;
    }

    p {
        font-size: 1rem;
    }
}

/* ---- HEADER ---- */
header {
    width: 100%;
    height: 5rem;

    background-color: #646F58;
    border-bottom: 4px solid #7D8570;
}

/* ---- MAIN CONTENT ---- */
main {
    margin: 5rem 7.5% 5rem 7.5%;
    width: 87.5%;
}

form#input-form {
    margin: 2rem 0 2rem 0;
    width: 100%;
    height: 25rem;
    border: 4px solid #7D8570;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

div.input-item {
    height: 12rem;
    width: 25%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    margin: 1.5rem;
}

label {
    margin: 1rem;
    padding: 1rem;
}

input {
    margin: 1.25rem;
    height: 1.5rem;
    width: 5rem;
}

button#generate-button {
    height: 5rem;
    width: 12rem;

    border: 3px solid #7D8570;
    border-radius: 8px;
    color: #DDE392;
    background-color: #646F58;
}

button#generate-button:hover {
    cursor: pointer;
    color: #7D8570;
    background-color: #DDE392;
}

button#generate-button:active {
    color: #646F58;
    background-color: #504B3A;
}

@media only screen and (max-width: 1080px) {
    form#input-form {
        height: 50rem;

        flex-direction: column;
        justify-content: space-between;
    }

    div.input-item {
        height: 7.5rem;
        width: 8rem;
    }
}

/* ---- OUTPUT SECTION ---- */

section#output-section {
    width: 100%;
    height: 40rem;
    display: grid;
    grid-template-columns: repeat(8, 12.5%);
    grid-template-rows: repeat(8, 12.5%);

    border: 4px solid #7D8570;
}

@media only screen and (max-width: 1340px) {
    section#output-section {
        height: 60rem;
    }
}

@media only screen and (max-width: 550px) {
    section#output-section {
        height: 100rem;
    }
}

p#placeholder-text {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 6;
}

div#character-name-card {
    grid-column-start: 1;
    grid-column-end: span 8;
    grid-row-start: 1;
    grid-row-end: span 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 1rem;
}

div#info-container {
    grid-column-start: 1;
    grid-column-end: span 8;
    grid-row-start: 2;
    grid-row-end: span 1;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    margin: 1rem;
}

div.character-info-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

div#character-bio-card {
    grid-column-start: 1;
    grid-column-end: span 8;
    grid-row-start: 3;
    grid-row-end: span 2;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;

    margin: 1rem;
}

div#character-stats {
    grid-column-start: 1;
    grid-column-end: span 8;
    grid-row-start: 6;
    grid-row-end: 7;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    margin: 1rem;
}

div.stat-card {
    margin: 1rem;
    padding: 1.25rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    border: 1px solid #7D8570;
}

@media only screen and (max-width: 1340) {
    div.stat-card {
        margin: 0.75rem;
        padding: 1rem;
    }
}

/* ---- FOOTER ---- */
footer {
    width: 100%;
    height: 7.5rem;

    background-color: #646F58;
    border-top: 4px solid #7D8570;
}